﻿@page
@model IdolReport.Pages.IndexModel
@{
    ViewData["Title"] = "อัพเดตการเคลื่อนไหว";
}

<div class="jumbotron" >
    
 <center><h2>อัพเดตการจัดคอนเสิร์ทของศิลปินไอดอล ปี2020</h2><center>
 <center><p>PTN 48</p></center>
</div>

@foreach (var item in Model.IdolCategory){
    <div class="row">
        <h3>@Html.DisplayFor(model=>item.ShortName)</h3>
    </div>
<div class="row">
    <table class="table">

        <thead>
            <tr>
            <th>วันที่</th><th>รายละเอียดข้อมูล</th>
            </tr>
        </thead>

        <tbody>

        @foreach (var IdolEventItem in Model.IdolEvent) {
            if(IdolEventItem.IdolCategoryID == item.IdolCategoryID){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => IdolEventItem.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => IdolEventItem.IdolDetail)
                </td>
            </tr>
            }
        }
        </tbody>

    </table>

 </div>

}