@page
@model IdolReport.Pages.IdolCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "สร้าง";
}

<h2>สร้าง</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เดือน
                <input asp-for="IdolCategory.ShortName" class="form-control" />
                <span asp-validation-for="IdolCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียด
                <input asp-for="IdolCategory.Fullname" class="form-control" />
                <span asp-validation-for="IdolCategory.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้าง" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">กลับไปยังหน้าแรก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
