@page
@model IdolReport.Pages.IdolCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            เดือน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolCategory.ShortName)
        </dd>
        <dt>
            คำอธิบาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolCategory.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IdolCategory.IdolCategoryID">แก้ไข</a> |
    <a asp-page="./Index">กลับไปยังหน้าแรก</a>
</div>
