@page
@model IdolReport.Pages.IdolCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "ข่าวทั้งหมดในระบบ";
}

<h2>ข่าวทั้งหมดในระบบ</h2>

<p>
    <a asp-page="Create">สร้างข่าวใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                เดือน
            </th>
            <th>
                รายละเอียด
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IdolCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdolCategoryID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.IdolCategoryID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdolCategoryID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
