@page
@using Microsoft.AspNetCore.Identity
@using IdolReport.Models

@model IdolReport.Pages.IdolAdmin.CreateModel
@inject SignInManager<IdolUser> SignInManager
@inject UserManager<IdolUser> UserManager


@{
    ViewData["Title"] = "อัพเดตข่าวใหม่";
}

<h2>รายงานข่าว</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เดือน
                <select asp-for="IdolEvent.IdolCategoryID" class ="form-control" asp-items="ViewBag.IdolCategoryID"></select>
            </div>
            <div class="form-group">
                วันที่
                <input asp-for="IdolEvent.ReportDate" class="form-control" />
                <span asp-validation-for="IdolEvent.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดข่าว
                <input asp-for="IdolEvent.IdolDetail" class="form-control" />
                <span asp-validation-for="IdolEvent.IdolDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อผู้โพส: @UserManager.GetUserName(User);
                <input asp-for="IdolEvent.IdolUserid"type="hidden"value="@UserManager.GetUserId(User)" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="สร้าง" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">กลับไปยังหน้าแรก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
