@page
@model IdolReport.Pages.IdolAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IdolEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.IdolCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.IdolCat.IdolCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.IdolDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.IdolDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="IdolEvent.IdolEventID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
