@page
@model IdolReport.Pages.IdolAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>IdolEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.IdolCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.IdolCat.IdolCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.IdolDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.IdolDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdolEvent.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolEvent.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IdolEvent.IdolEventID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
