@page
@model IdolReport.Pages.IdolAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>IdolEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdolEvent.IdolEventID" />
            <div class="form-group">
                <label asp-for="IdolEvent.IdolCategoryID" class="control-label"></label>
                <select asp-for="IdolEvent.IdolCategoryID" class="form-control" asp-items="ViewBag.IdolCategoryID"></select>
                <span asp-validation-for="IdolEvent.IdolCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdolEvent.ReportDate" class="control-label"></label>
                <input asp-for="IdolEvent.ReportDate" class="form-control" />
                <span asp-validation-for="IdolEvent.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdolEvent.IdolDetail" class="control-label"></label>
                <input asp-for="IdolEvent.IdolDetail" class="form-control" />
                <span asp-validation-for="IdolEvent.IdolDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdolEvent.IdolUserid" class="control-label"></label>
                <select asp-for="IdolEvent.IdolUserid" class="form-control" asp-items="ViewBag.IdolUserid"></select>
                <span asp-validation-for="IdolEvent.IdolUserid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
