@page
@model IdolReport.Pages.IdolAdmin.IndexModel

@{
    ViewData["Title"] = "อัพเดตข่าว";
}

<h2>อัพเดตข่าว</h2>

<p>
    <a asp-page="Create">สร้างใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                เดือน
            </th>
            <th>
                วันที่
            </th>
            <th>
                รายละเอียด
            </th>
            <th>
                ผู้โพส
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IdolEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdolCat.IdolCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdolDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdolEventID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdolEventID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdolEventID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
